<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Interface</title>
    <link rel="stylesheet" href="login.css">
    <script src="https://kit.fontawesome.com/752d4bf545.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="login-container">
        <form class="login-form">
            <h1>Login</h1>
            <div class="input-group">
                <label for="username">
                    <i class="icon-user"></i>
                <i class="fas fa-user"></i>
                </label>
                <input type="text" name="username" placeholder="Ingresa tu usuario" required>
            </div>
            <div class="input-group">
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" id="password" placeholder="Ingresa tu contraseña" required>
            </div>
            <input class="login-button"  type="submit" value="Iniciar Sesión">
            <input class="cancel-button" type="button" value="Cancelar">
        </form>
    </div>

</body>
</html>